@import url('../styles/colors.css');

.section {
    background-color: var(--background-color);
    background-image: url('../../assets/Header/manos_arriba_full.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    height: 700px;
    flex-direction: column;
}

.elementor_widget_warp {
    width: 100%;
    height: 60%;
}


.elementor_widget_warp_2 {
    height: 25%;
}

.elementor_widget_warp_3 {
    height: 10%;
}

.img_banner {
    width: 100%;
}

.title {
    margin: 0px;
    /* color: red; */
    color: var(--primary-color);
    font-size: var(--title-text-size);
    font-family: var(--font-family);
    text-transform: capitalize;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.container_banner {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 100%;
}

.container_text {
    display: flex;
    text-align: left;
    margin-left: 10%;
    width: 70%;
    flex-direction: column;
    color: white;
}

.h1 {
    margin: 0px;
    font-size: var(--h1-text-size);
    font-family: var(--font-family);
    color: #FFFFFF;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.h2 {
    margin: 0px;
    font-family: var(--font-family);
    font-size: var(--h2-text-size);
    color: #FFFFFF;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.img_carousel {
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.active {
    opacity: 1;
}

.container_carousel {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.box_carousel {
    background-color: 'lightgray';
    padding: 0;
    text-align: 'center';
}