@import "../styles/colors.css";

.section {
    background-color: var(--background-color);
}

.box {
    background-color: 'lightgray';
    padding: 0;
    text-align: 'center';
}
.background{
    background-color: var(--primary-color);
}

.container {
    padding-top: 5%;
    margin-left: 9%;
    margin-right: 9%;
    padding-bottom: 3%;
}
.elements{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.description_text_container{
    width: 60%;
}
.logo_corppaz{
    height: 100px;
}
.contact_container{
    width: 35%;
}
.p_description{
    color: var(--secondary-text-color);
    text-align: left;
}
.p{
    color: var(--secondary-text-color);
    margin: 1px;
}

.social_media_logo_container {
    margin: 10px;
    display: inline-block;
}
.link_mail{
    color: var(--secondary-text-color);
    text-decoration: none;
}