@import "../styles/colors.css";

.section{
    background-color: var(--background-color);
}

.box{
    background-color: 'lightgray';
    padding: 0;
    text-align: 'center'; 
}


.container_programs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.container_elements{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.element_img{
    margin-left: 2%;
}
.elements_text{
    margin-left: 9%;
}
.title_section{

}
.h2{
    font-size: var(--h2-text-size);
    font-family: var(--font-family);
    color: var(--primary-color);
    margin-bottom: 0px;
}
.paragraph_section{
    text-align: left;
}
.middle_point{
    font-size: 20px;
}
.paragraph{
    font-size: var(--paragraph-text-size);
    font-family: var(--font-family);
    margin-bottom: 7%;
}